body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */

.navbar {
    border: 1px solid #000;
    background-color: #444;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #666;
}

/* HOME PAGE */

.home-content {
    text-align: center;
    margin-top: 50px;
}

.home-content h1 {
    font-size: 50px;
}