body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* THIN NAVBAR */

.navbar {
    background-color: #444;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 9px 12px;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.navbar a:hover {
    background-color: #666;
}

/* HOME PAGE */

.home-content {
    text-align: center;
    margin-top: 50px;
}

.home-content h1 {
    font-size: 50px;
}